includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/sweetchuck/composer-suite-handler/phpstan.typeAliases.neon
    - .phpstan/baseline.neon

parameters:
    bootstrapFiles:
        - .phpstan/bootstrap.php
    symfony:
        containerXmlPath: .phpstan/services.xml
    level: 7
    paths:
        - src/
        - tests/
        - RoboFile.php
    excludePaths:
        - tests/_log/
        - tests/_support/_generated/
